# --- DATABASE CONFIG ---
POSTGRES_DB=omniticket
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_PORT=5432
DB_HOST=postgres

# --- REDIS CONFIG ---
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

# --- RABBITMQ CONFIG ---
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# --- MAIL CONFIG ---
MAIL_USER=your_mail_username
MAIL_PASS=your_mail_password