# --- DATABASE CONFIG ---
POSTGRES_DB=omniticket
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

# --- REDIS CONFIG ---
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

# --- RABBITMQ CONFIG ---
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
